<md-card style="width:500px;">
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>{{member.name}}</md-card-title>
    <md-card-subtitle>{{member.age}}</md-card-subtitle>
  </md-card-header>
  <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
  <md-card-content>
    <p>
      I'm sample member detail, the information of our members will be shown here.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>