<form [formGroup]="infoForm" (ngSubmit)="add();" #form="ngForm">
  <md-icon>account_box</md-icon>
  <md-input-container>
    <input mdInput type="text" placeholder="name" formControlName="name">
  </md-input-container>
  <span *ngIf="infoForm.controls.name.hasError('duplicateUserName')">
    current input name is already in use.
  </span>
  <br>
  <md-icon>perm_contact_calendar</md-icon>
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="birthday">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
  <br>
  <md-icon>email</md-icon>
  <md-input-container>
    <input mdInput type="email" placeholder="Email" formControlName="email">
  </md-input-container>
  <br>
  <md-icon>location_on</md-icon>
  <md-input-container>
    <input mdInput type="text" placeholder="Location" formControlName="location">
  </md-input-container>
  <br>
  <button md-raised-button type="button" (click)="form.reset()" [disabled]="!infoForm.dirty">Reset</button>
  <button md-raised-button type="submit" [disabled]="!infoForm.valid">{{action}}</button>
</form>