<form [formGroup]="infoForm" (ngSubmit)="submit();" #form="ngForm">
  <md-icon>account_box</md-icon>
  <md-input-container>
    <input mdInput type="text" placeholder="name" formControlName="name">
  </md-input-container>
  <md-error *ngIf="infoForm.controls.name.hasError('duplicateUserName')">
    current input name is already in use.
  </md-error>
  <br>
  <md-icon>perm_contact_calendar</md-icon>
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="birthday">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
  <br>
  <md-icon>email</md-icon>
  <md-input-container>
    <input mdInput type="email" placeholder="Email" formControlName="email">
  </md-input-container>
  <md-error *ngIf="infoForm.controls.email.touched && infoForm.controls.email.hasError('invalidEmail')">
    invalid email address! please input again.
  </md-error>
  <br>
  <md-icon>location_on</md-icon>
  <md-input-container>
    <input mdInput type="text" places-auto-complete (initialized$)="initialized($event)" (place_changed)="placeChanged(place)" [types]="['geocode']" placeholder="Location" formControlName="location">
  </md-input-container>
  <button md-mini-fab type="button" (click)="showMap()">
    <md-icon class="md-16">location_on</md-icon>
  </button>
  <br>
  <button md-raised-button type="button" (click)="reset()" [disabled]="!infoForm.dirty">Reset</button>
  <button md-raised-button type="submit" [disabled]="!infoForm.valid">{{action}}</button>
  <button md-raised-button type="button" *ngIf="data" md-dialog-close="cancel">Cancel</button>
</form>