<h1>
  {{title}}
</h1>
<div>
  <ul *ngFor="let item of items | async">
    <li class="text" (click)="selectedMember = item">
      {{item.$key}} - {{item.name}} - {{item.age}} - {{item.location}}
    </li>
  </ul>
  <div *ngIf="selectedMember">
    <app-member-detail [member]="selectedMember"></app-member-detail>
  </div>
</div>

<form #newMember="ngForm" (ngSubmit)="addItem();">
  Name:     <input type="text" name="name" [(ngModel)]="newItem.name" required>
  Age:      <input type="text" name="age" [(ngModel)]="newItem.age" required>
  Location: <input type="text" name="location" [(ngModel)]="newItem.location">
  <button type="submit" [disabled]="!newMember.form.valid">Add</button>
</form>
