<div>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <md-icon>email</md-icon>
    <md-input-container>
      <input mdInput type="email" placeholder="Email" formControlName="email">
    </md-input-container>
    <br>
    <md-icon>vpn_key</md-icon>
    <md-input-container>
      <input mdInput type="password" placeholder="Password" formControlName="password">
    </md-input-container>
    <br>
    <button md-raised-button type="submit">Login</button>
    <br>  
  </form>
  <div style="width: 100%; text-align:right;">
    <a [routerLink]="['/reset']">Reset Password</a>
    <a [routerLink]="['/signup']">Sign Up</a>
  </div>
</div>
