<div style="width: 100%; background-color:lightgray">
  <md-sidenav-container style="height:740px; background-color:lightblue">
    <md-sidenav #sidenav mode="side" style="background-color: #DDBDF1;width:15%;">
      <div *ngIf="loginStatus; else guestMenu;">
        <div *ngFor="let item of loginItems">
          <button md-icon-button (click)="sidenav.toggle();navigate(item.url);">
            <md-icon>{{item.icon}}</md-icon>
            {{item.text}}
          </button>
        </div>
      </div>
      <ng-template #guestMenu>
        <div *ngFor="let item of guestItems">
          <button md-icon-button (click)="sidenav.toggle();navigate(item.url);">
            <md-icon>{{item.icon}}</md-icon>
            {{item.text}}
          </button>
        </div>
      </ng-template>
    </md-sidenav>
    <div>
      <router-outlet>
        <button md-icon-button (click)="sidenav.open()">
          <md-icon>more_vert</md-icon>
          Menu
        </button>
      </router-outlet>
    </div>
  </md-sidenav-container>
</div>