<!--<div class=" mat-app-background">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item *ngFor="let item of items" (click)="navigate(item.url)">
      <md-icon>{{item.icon}}</md-icon>
      <span>{{item.text}}</span>
    </button>
  </md-menu>
</div>-->

<div style="width: 100%; background-color:lightgray">
  <md-sidenav-container style="height:740px; background-color:lightblue">
    <md-sidenav #sidenav mode="side" style="background-color: #DDBDF1;width:15%;">
      <div *ngIf="loginStatus; else guestMenu;">
        <div class="example-scrolling-content" *ngFor="let item of loginItems">
          <button md-icon-button (click)="sidenav.toggle();navigate(item.url);">
            <md-icon>{{item.icon}}</md-icon>
            {{item.text}}
          </button>
        </div>
      </div>
      <ng-template #guestMenu>
        <div class="example-scrolling-content" *ngFor="let item of guestItems">
          <button md-icon-button (click)="sidenav.toggle();navigate(item.url);">
            <md-icon>{{item.icon}}</md-icon>
            {{item.text}}
          </button>
        </div>
      </ng-template>
    </md-sidenav>
    <div class="example-scrolling-content">
      <router-outlet>
        <button md-icon-button (click)="sidenav.open()">
          <md-icon>more_vert</md-icon>
        </button>
      </router-outlet>
    </div>
  </md-sidenav-container>
</div>