<h1>
  {{ (constants | async)?.title }}
</h1>
<div (click)="showUpdErea=true">
  Click here to change the Title.
  <div *ngIf="showUpdErea">
    <input type="text" placeholder="{{(constants | async)?.title}}" [(ngModel)]="newTitle">
    <button (click)="updateTitle()">Update The Title</button>
  </div>
</div>

<div>
  <ul *ngFor="let item of items | async">
    <li class="text" (click)="selectedMember = item">
      {{item.$key}} - {{item.name}} - {{item.age}} - {{item.location}}
    </li>
    <button (click)="deleteItem(item)">Delete</button>
  </ul>
  <div *ngIf="selectedMember">
    <app-member-detail [member]="selectedMember" [key]="selectedMember.$key"></app-member-detail>
  </div>

  <div>
    <app-member-search></app-member-search>
  </div>
</div>

<div *ngIf="!selectedMember">
  <h3>New Member</h3>
  <form #newMember="ngForm" (ngSubmit)="addItem();">
    Name:     <input type="text" name="name" [(ngModel)]="newItem.name" required>
    Age:      <input type="text" name="age" [(ngModel)]="newItem.age" required>
    Location: <input type="text" name="location" [(ngModel)]="newItem.location">
    <button type="submit" [disabled]="!newMember.form.valid">Add</button>
  </form>
</div>
