{{!--<div class="formContainer">
    <h2>sign up for pengyy's new member</h2>
    <form class="form-horizontal newletterForm" role="form" action="/process?form=newletter" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="form-group">
            <label for="fieldname" class="col-sm-2-control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldname" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldemail" class="col-sm-2-control-label">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldemail" required name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>--}}
<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" 
            action="/newletter" method="POST">
        <div class="form-group">
            <label for="fieldName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" 
                id="fieldName" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required 
                    id="fieldEmail" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>

{{!--{{#section 'jquery'}}
    <script>
        $(document).ready(function() {
            $('.newletterForm').on('submit', function(evt) {
                evt.preventDefault();
                var action = $(this).attr('action');
                var $container = $(this).closest('.formContainer');
                $.ajax({
                    url: action,
                    type: 'POST',
                    success: function(data) {
                        if (data.success) {
                            $container.html('<h2>Thank you for register up.</h2>');
                        }
                        else {
                            $container.html('<h2>Sorry,Some problem happened!</h2>');
                        }
                    },
                    error: function() {
                        $container.html('<h2>System error happened</h2>');
                    }
                })
            });
        });
    </script>
{{/section}}--}}