<div>
  <md-icon class="md-20">home</md-icon>
  <span>Home Page</span>
</div>
<h1>
  {{ (constants | async)?.title }}
</h1>
<div (click)="showUpdArea=true">
  Click here to change the Title.
  <div *ngIf="showUpdArea">
    <input type="text" placeholder="{{(constants | async)?.title}}" [(ngModel)]="newTitle">
    <button (click)="updateTitle()">Update The Title</button>
  </div>
</div>

<md-tab-group [selectedIndex]="selectedIndex">
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>group</md-icon>
      Members
    </ng-template>
    <div>
      <!--<div *ngFor="let item of items | async; let i = index; let items = items;">
        <div (click)="showMemberDetail(item)">
          <md-icon>face</md-icon>
          {{item.name}} - {{item.age}} - {{item.location}}
          
        </div>
      </div>-->
      <md-list style="width:300px;">
        <h3 md-subheader>Members</h3>
        <md-list-item *ngFor="let item of items | async" (click)="showMemberDetail(item)">
          <md-icon md-list-icon>face</md-icon>
          <h4 md-line>{{item.name}}</h4>
          <p md-line> {{item.age}} </p>
          <button md-button (click)="editItem(item);$event.stopPropagation();"><md-icon>mode_edit</md-icon></button>
          <button md-button (click)="deleteItem(item);$event.stopPropagation();"><md-icon>delete_forever</md-icon></button>
        </md-list-item>
      </md-list>
    </div>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>face</md-icon> New Member
    </ng-template>
    <h3>Add new memeber</h3>
    <div>
      <app-member-info></app-member-info> 
    </div>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>search</md-icon> Search for Member
    </ng-template>
    <h3>Search for memeber</h3>
    <app-member-search></app-member-search>
  </md-tab>
</md-tab-group>
