<!doctype html>
<html>

<head>
    <title>Pengyy Travel</title>
    {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <script src="/vendor/jquery.js"></script>
    {{{_sections.jquery}}}

    {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
    {{/if}}

    <link rel="stylesheet" href="/vendor/css/main.css">
    {{{_sections.head}}}
</head>

<body>
    {{!--<header>
        <img src="/img/flower.png" alt="Pengyy Travel Logo">
    </header>--}}
    <div style="background-image: url('/img/background.jpg');background-repeat: no-repeat;width: 100%;height: 100%;">
        {{{body}}}
    </div>
</body>
</html>