<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/ngmap/build/scripts/ng-map.js"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCSIN4pjq5Dus-iy5wScbs7UCyEqRCL4cE&libraries=places"></script>

    <script>
        var app = angular.module('app', ['ngMap', 'ui.bootstrap']);

        app.controller('myCtrl', function($scope, $uibModal) {
            $scope.modal = null;
            $scope.showModal = function() {
                $scope.modal = $uibModal.open({
                    templateUrl: 'modal/mapModal.html',
                    controller: 'mapModalCtrl'
                });
            };

            $scope.closeModal = function() {
                $scope.modal.close();
            };
        });
    </script>
    <script src="./modal/mapModal.controller.js"></script>
</head>
<body>
    <div ng-app="app" ng-controller="myCtrl">
        <div>
            <button ng-click="showModal()">Show Modal</button>
            <button ng-click="closeModal()">Close Modal</button>
        </div>
    </div>
</body>
</html>