<h2>My Famile Members</h2>
Min<input type="range" [(ngModel)]="minAge" min="0" max="20">{{minAge}} <br>
Max<input type="range" [(ngModel)]="maxAge" min="20" max="80">{{maxAge}}
<ul class="heroes">
    <li *ngFor="let member of families | AgePipe: minAge:maxAge" (click)="onSelect(member)" [class.selected]="member === selectedMember">
        <span class="badge">{{member.id}}</span> {{member.name}}
        <ng-content select="member.id"></ng-content>
        <button class="delete" (click)="doDelete(member); $event.stopPropagation()">x</button>
    </li>
</ul>
<div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="doAdd(heroName.value); heroName.value=''">
        Add
    </button>
</div>
<div *ngIf="selectedMember">
    <h2>
        {{selectedMember.name | uppercase}} is my family.
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>