<div class="container">
    <div [hidden]="submitted">
        <h1>New Member Form</h1>
        <form #NewMemberForm="ngForm" (ngSubmit)="doSubmit()">
        <div class="form-group">
            <label for="id">Member Id</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="member id" [(ngModel)]="member.id" required #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
            Member Id is required
            </div>
        </div>
        <div class="form-group">
            <label for="name">Member Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="member name" [(ngModel)]="member.name">
        </div>
        <div class="form-group">
            <label for="age">Member age</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="member age" [(ngModel)]="member.age">
        </div>
        <div class="form-group">
            <label for="address">Member Address</label>
            <select id="address" name="address" required [(ngModel)]="member.address" #address="ngModel">
                <option value="{{address.index}}" *ngFor="let address of memberAddress">{{address.address}}</option>
            </select>
            <div [hidden]="address.valid"
                class="alert alert-danger">
            Member's Address is required
            </div>
        </div>
        <button type="button" class="btn btn-default" (click)="doReset();NewMemberForm.reset();">Reset</button>
        <button type="submit" class="btn btn-default" [disabled]="!NewMemberForm.form.valid">Save</button>
        <button (click)="goBack()">Back</button>
        </form>
    </div>
    <div *ngIf="member.id && member.id !== ''">
        <h1>New Member Form {{submitted? 'Result' : 'Preview'}}</h1>
        <div class="form-group">
            <label for="id">Member Id:</label>
            {{member.id}}
        </div>
        <div class="form-group">
            <label for="name">Member Name:</label>
            {{member.name}}
        </div>
        <div class="form-group">
            <label for="age">Member age:</label>
            {{member.age}}
        </div>
        <div class="form-group">
            <label for="address">Member Address:</label>
            {{member.address}}
        </div>
        <button class="btn btn-default" [hidden]="!submitted" (click)="submitted=false;">Edit</button>
    </div>

    <div>
        <file-upload #up (change)="up.upload()" [multiple]="true"></file-upload>
    </div>
</div>

