<div>
  <md-icon>contacts</md-icon>Contacts
  <div>
    <form #form="ngForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div>
        <md-icon>title</md-icon>
        <md-input-container>
          <input type="text" mdInput placeholder="title" formControlName="title">
        </md-input-container>
        <br>
        <md-icon>email</md-icon>
        <md-input-container>
          <input type="text" mdInput placeholder="email@example.com" formControlName="email">
        </md-input-container>
        <br>
        <md-icon>reorder</md-icon>
        <md-input-container style="width:90%;">
          <textarea mdInput mdTextareaAutosize mdAutosizeMinRows="1" mdAutosizeMaxRows="3" placeholder="detail" formControlName="detail">
          </textarea>
          <md-hint align="end">{{contactForm.controls.detail.value ? contactForm.controls.detail.value.length : 0}} / 3000</md-hint>
        </md-input-container>
      </div>
      <br>
      <div style="text-align:center;">
        <button md-raised-button type="button" [disabled]="!form.dirty" (click)="form.form.reset()">Reset</button>
        <button md-raised-button type="submit" [disabled]="form.invalid || form.submitted">Submit</button>
        <button md-raised-button type="button" md-dialog-close="cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
